.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    width: 85%;
    min-width: 300px;
    height: 15vh;
    margin: 40px auto;
    padding: 10px;
    border: solid 3px $headerOutline;
    border-radius: 6px;
}

.logo{
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 8px;

    img{
        height: 80%;
    }
}

.score{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-weight: 600;
    background-color: #fff;
    height: 100%;
    width: 74px;
    border-radius: 4px;
}

.score__label{
    color: $scoreText;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.score__record{
    color: $darkText;
    font-size: 42px;
    line-height: 38px;
}