.rules{
    width: 110px;
    margin: 0 auto 24px;
}

.rules__btn{
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    height: 40px;
    width: 110px;
    background-color: transparent;
    border: 2px solid $headerOutline;
    border-radius: 8px;
    cursor: pointer;
}

@media screen and (min-width: 600px){
   .rules{
       display: flex;
       width: 80%;
       justify-content: flex-end;
   }
}
