.rules{
    width: 110px;
    margin: 75px auto 24px;
}

.rules__btn{
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    height: 40px;
    width: 110px;
    background-color: transparent;
    border: 2px solid $headerOutline;
    border-radius: 8px;
}
