@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-family: 'barlow semi condensed', sans-serif;
}

body {
  background: #1f3756;
  background: radial-gradient(circle, #1f3756 0%, #141539 100%);
  color: #3B4363;
  height: 100vh;
  padding-top: 25px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 600px;
  width: 85%;
  min-width: 300px;
  height: 15vh;
  margin: 0px auto;
  padding: 10px;
  border: solid 3px #606E85;
  border-radius: 6px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-left: 8px;
}

.logo img {
  height: 80%;
}

.score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  background-color: #fff;
  height: 100%;
  width: 74px;
  border-radius: 4px;
}

.score__label {
  color: #2A46C0;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.score__record {
  color: #3B4363;
  font-size: 42px;
  line-height: 38px;
}

.main__content {
  background-image: url(/images/bg-triangle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 180px;
  height: 60vh;
  max-width: 580px;
  width: 80%;
  min-width: 300px;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.PaperAndScissors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 600;
  width: 100%;
  min-width: 300px;
  margin-bottom: 50px;
}

.paper--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #4865f4;
  background: radial-gradient(circle, #4865f4 0%, #5671f5 100%);
  cursor: pointer;
}

.paper--wrap .paper {
  background-image: url(/images/icon-paper.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;
  background-color: #fff;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.scissors--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #ec9e0e;
  background: radial-gradient(circle, #ec9e0e 0%, #eca922 100%);
  cursor: pointer;
}

.scissors--wrap .scissors {
  background-image: url(/images/icon-scissors.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;
  background-color: #fff;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.rock--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #dc2e4e;
  background: radial-gradient(circle, #dc2e4e 0%, #dd405d 100%);
  cursor: pointer;
  margin: 0 auto;
}

.rock--wrap .rock {
  background-image: url(/images/icon-rock.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;
  background-color: #fff;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

@media screen and (min-width: 600px) {
  .main__content {
    background-size: 250px;
    max-width: 700px;
  }
  .paper--wrap {
    margin-right: 150px;
    width: 150px;
    height: 150px;
  }
  .paper--wrap .paper {
    width: 120px;
    height: 120px;
  }
  .scissors--wrap {
    width: 150px;
    height: 150px;
  }
  .scissors--wrap .scissors {
    width: 120px;
    height: 120px;
  }
  .rock--wrap {
    width: 150px;
    height: 150px;
  }
  .rock--wrap .rock {
    width: 120px;
    height: 120px;
  }
}

.rules {
  width: 110px;
  margin: 0 auto 24px;
}

.rules__btn {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  height: 40px;
  width: 110px;
  background-color: transparent;
  border: 2px solid #606E85;
  border-radius: 8px;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .rules {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.attribution {
  font-size: 12px;
  text-align: center;
}

.modal__rules {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-image: url(/images/image-rules.svg);
  background-repeat: no-repeat;
  background-position: center 90px;
  background-size: 300px;
  height: 400px;
  width: 400px;
  background-color: white;
  position: absolute;
  top: 15vh;
  left: -50%;
  right: -50%;
  margin: 0 auto;
  border-radius: 10px;
}

.modal__rules span {
  font-size: 38px;
  text-transform: uppercase;
  font-weight: 700;
}

#btn--close {
  height: 45px;
  width: 45px;
}

@media screen and (max-width: 600px) {
  .modal__rules {
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 0;
    background-size: 80%;
    background-position: center;
  }
  .modal__rules span {
    margin-top: 40px;
    width: 100%;
    text-align: center;
  }
  #btn--close {
    position: absolute;
    top: 80vh;
    margin: 0 auto;
    left: -50%;
    right: -50%;
    height: 30px;
    width: 30px;
  }
}
/*# sourceMappingURL=style.css.map */